[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
pre-commit = "*"
mypy = "*"
pylint = "*"
black = "*"
isort = "*"
autoflake = "*"
sqlalchemy = {extras = ["asyncio"], version = "*"}
psycopg = {extras = ["binary"], version = "*"}
alembic = "*"
psycopg2-binary = "*"
httpx = "*"
defusedxml = "*"
pydantic-settings = "*"
pytest = "*"

[dev-packages]

[requires]
python_version = "3.11"
